[submodule "qcommandpalette"]
	path = qcommandpalette
	url = git@github.com:theHamsta/QCommandPalette.git
[submodule "TinyTIFF"]
	path = TinyTIFF
	url = https://github.com/jkriege2/TinyTIFF.git
[submodule "QCommandPalette"]
	path = QCommandPalette
	url = https://github.com/theHamsta/QCommandPalette.git
[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11.git
